<style>
    div {
        font-family: Verdana;
    }
    #vizat {
        background-color: blue;
        color: white;
        padding: 20px;
        padding-left: 100px;

    }
    .april {
        background-color: green;
        height: 100px;
        border: 1px solid black;
        color: white;
        padding-left: 20px;
        margin-top: 50px;
    }
</style>

<h1>Kolegji AAB</h1>
<h2>Kolegji AAB</h2>
<h3>Kolegji AAB</h3>
<h4>Kolegji AAB</h4>
<h5>Kolegji AAB</h5>
<h6>Kolegji AAB</h6>
<p>Sot eshte bere</p>
<div 
    style="background-color: red;">
Liberalizimi
</div>
<div id="vizat">
    A po behet?
</div>
<div class="april">
    Hajgare 1
</div>

<div class="april">
    Hajgare 2
</div>

<a href="https://www.aab-edu.net">AAB</a>

<input type="text" value="Liberl"/>
<br/>
<br/>
<br/>
<table class="table table-bordered table-dark">
    <thead>
    <tr>
        <th>Month</th>
        <th>Savings</th>
        <th>Kolona3</th>
    </tr>
    </thead>
    <tbody>
        <tr >
            <td width="20%">January</td>
            <td width="50%">$100</td>
            <td>$100</td>
        </tr>
    </tbody>

</table>
